.content{
	min-height: 800px;
	width: 90%;
	margin:0 auto;
	margin-bottom: 15px;
}
.model{
	width: 910px;
	height: 245px;
	margin: 15px 15px 15px 15px; 
}
.modelLeft{
	float:left;
	width: 35%;
	height: 100%;
}
.modelLeft>div{
	padding: 12% 12% 12% 12%; 
}

.modelRight{
	float:right;
	width: 65%;
	height: 100%;
}

.modelRight>ul>li{
	list-style-type: none;
	color: #616669;
	margin: 10px 0px 20px 0px;
}
