#promo {
  text-align:center;
  padding:40px;
  padding-top:60px;
  background:url(../images/demo/author-6.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

@media (max-width:1199px) {
  #promo {
    padding:20px;
  }
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.3);
  max-width:800px;
  margin:auto auto;
  
  height: 380px;
}

#promo .search_box {
  text-align:left;
}

#promo .search_box span {
  padding-right:20px;
  font-size:18px;
  cursor:default;
  font-weight:bolder;
  margin-left:20px;
}

#promo .search_box .ipt_box {
  border-radius:2px 0 0 2px;
  padding-left:18px;
}

#promo .search_box .ipt_box a {
  text-decoration:none;
  outline:0;
}

#promo .search_box .ipt_box .fl {
  float:left;
}

#promo .search_box .ipt_box .seek {
	background: none;
	line-height: 50px;
	font-size: 18px;
	padding: 15px;
	
}

#promo .search_box .ipt_box .ipt_button {
  border-radius:0 2px 2px 0;
  /*width:24px;*/
  /*height:24px;*/
 position: absolute;
}

#promo .search_box .ipt_box .ipt_button .icons {
  overflow:hidden;
  display:block;
  line-height:0;
  background-image:url(../images/search.png);
  background-repeat:no-repeat;
  height:60px;
  margin-top:-8px;
  margin-left:10px;

}

#portfolio .row-0-gutter .mg .pd{
	padding: 5px;
	border: 10px solid hsla(0,0%,100%,.5); 
	background: rgb(227,191,154);
	background-clip: padding-box;
	
}
#Search_Bar {
 /* width:800px;*/
  background-color:rgb(75,210,202);
  height:60px;
}

#Search_Bar .search-form {
  padding-top:13px;
  padding-bottom:10px;
  text-align:center;
  max-width:500px;
  margin:0 auto;
  margin-left:23px;
  float:left;
}

.find-hourse {
  font-size:20px;
  font-weight:300;
  color:#465765;
  margin-right: 20px;
}

.find-hourse i {
  padding-top:16px;
  margin-left:20px;
  padding-right: 10px;
}

#Search_List {
  clear:both;
 /* text-align:center;*/
  height:400px;
  width:1250px;
  margin:0 auto;
  background:url(../img/loft.jpg);
  background-size:cover;
  background-repeat:round;
  padding:60px;
  padding-top:40px;
}

#Search_List, .Search_Conditon::before {
  /*background:url(../img/loft.jpg)0 / cover fixed;
  background-repeat:round;*/
}

.Search_Condition {
  position:relative;
  background-image: url(../img/sd.jpg);
  opacity: 0.9;
 /* background:hsla(0,0%,100%,.8);*/
  height: 330px;
}


#Search_List .Search_Condition p{
	font-size: 18px;
	font-weight: bolder;
	padding-top: 15px;
	padding-left: 15px;
	clear: both;
}
#Search_List .Search_Condition hr{
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid antiquewhite;
}
.Search_Condition ul{
	list-style-type: none;
}
.Search_Condition li{
	float: left;
	padding-left: 20px;
}
.Search_Condition .headlight a{
	color: #f9dd16;
}
#Search_Tag{
	height: 25px;
	width: 1250px;
	background: goldenrod;
	margin: 0 auto;
	margin-top: 10px;
	padding: 3px;
	padding-left: 60px;
}
#Search_Tag ul{
	list-style-type: none;
	display: inline;
}
#Search_Tag ul li{
	float: left;
	padding-right: 5px;
}
#Search_Result{
	margin: 0 auto;
	margin-top: 10px;
	width: 1250px;
}







